{{ form_start(form) }}
<div class="row">
    <div class="col-md">
        {{ form_row(form.title) }}
    </div>
    <div class="col-md">
        {{ form_row(form.is_active) }}
    </div>
    <div class="col-md">
        {{ form_row(form.tags_select2) }}
    </div>
    <div class="col-md">
        {% if actualite.image.id is defined %}
            <img src="{{ actualite.image.webPath|imagine_filter('admin_thumbnail_medium') }}" alt=""
                 class="img-fluid img-thumbnail shadow">
        {% endif %}
        {{ form_row(form.image) }}
    </div>
</div>
{{ form_widget(form) }}
<p class="my-2">
    <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
</p>
{{ form_end(form) }}
