{% extends 'base-admin.html.twig' %}

{% block title %}Actualite{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Actualite</h1>
                <div class="top_btns mb-3">
                    <a class="btn btn-secondary" href="{{ path('actualite_index') }}">
                        Retour
                    </a>
                </div>
                <div class="table-responsive-sm">
                    <table class="table table-hover table-sm">
                        <tbody>
                        <tr>
                            <th>Titre</th>
                            <td>{{ actualite.title }}</td>
                        </tr>
                        <tr>
                            <th>Créer le</th>
                            <td>{{ actualite.createdAt ? actualite.createdAt|date('d/m/Y') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Active</th>
                            <td>
                                {% if actualite.isActive %}
                                    <span class="badge badge-success">Oui</span>
                                {% else %}
                                    <span class="badge badge-danger">Non</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Image</th>
                            <td><img src="{{ actualite.image.webPath|imagine_filter('admin_thumbnail_large') }}" alt=""
                                     class="img-fluid"></td>
                        </tr>
                        <tr>
                            <th>Résumé</th>
                            <td>{{ actualite.resume|raw }}</td>
                        </tr>
                        <tr>
                            <th>Contenu</th>
                            <td>{{ actualite.content|raw }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="bottom_btns mt-3">
                    <a class="btn btn-secondary" href="{{ path('actualite_index') }}">
                        Retour
                    </a>
                    <a class="btn btn-success"
                       href="{{ path('actualite_edit', {'id': actualite.id}) }}">
                        Modifier
                    </a>
                </div>
                {{ include('actualite/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
