<div class="bandeau">
    <img src="{{ 'images/computer-bandeau.jpg'|imagine_filter('bandeau') }}"
         srcset="{{ 'images/computer-bandeau.jpg'|imagine_filter('bandeau_sm') }} 576w,
             {{ 'images/computer-bandeau.jpg'|imagine_filter('bandeau_md') }} 768w,
             {{ 'images/computer-bandeau.jpg'|imagine_filter('bandeau_lg') }} 992w,
             {{ 'images/computer-bandeau.jpg'|imagine_filter('bandeau_vlg') }} 1200w,
             {{ 'images/computer-bandeau.jpg'|imagine_filter('bandeau') }} 1920w"
         alt="Robin Parisot - Développeur WEB" class="img-fluid">
    <div class="box">
        <div class="container content">
            <h1>
                Développeur WEB
                <br>
                <small>Robin Parisot</small>
            </h1>
        </div>
    </div>
</div>