{% extends 'base-admin.html.twig' %}

{% block body %}
    <h2>APOD</h2>
    <p>
        <a href="https://apod.nasa.gov/apod/astropix.html" target="_blank" class="btn btn-sm btn-info">
            Voir
        </a>
    </p>
    <table class="table table-striped table-hover">
        <thead>
        <th></th>
        <th>
            Title
        </th>
        <th></th>
        </thead>
        <tbody>
        {% for apod in apods %}
            <tr>
                <td>
                    <img src="{{ apod.url }}" alt="{{ apod.title }}" width="100">
                </td>
                <td class="text-justify">
                    {{ apod.title }}<br>
                    <small>{{ apod.explanation }}</small>
                </td>
                <td>
                    <a href="{{ path('TOOLS_APOD_SEND', {'id': apod.id}) }}"
                       class="btn btn-sm btn-info">
                        Envoyer sur le discord
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}