{% extends 'base-admin.html.twig' %}

{% block title %}Contact index{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Contact index</h1>
                <div class="add_new mb-3">
                    <a class="btn btn-success" href="{{ path('contact_new') }}">Ajouter</a>
                </div>
                <div class="table-responsive-sm">
                    <table class="table table-hover table-sm">
                        <thead>
                        <tr>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Email</th>
                            <th>Subject</th>
                            {#<th>Message</th>#}
                            <th>Send_at</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for contact in contacts %}
                            <tr>
                                <td>{{ contact.firstname }}</td>
                                <td>{{ contact.lastname }}</td>
                                <td>{{ contact.email }}</td>
                                <td>{{ contact.subject }}</td>
                                {#<td>{{ contact.message }}</td>#}
                                <td>{{ contact.sendAt ? contact.sendAt|date('d/m/Y') : '' }}</td>
                                <td>
                                    <a class="btn btn-info btn-sm"
                                       href="{{ path('contact_show', {'id': contact.id}) }}">
                                        Voir
                                    </a>
{#                                    <a class="btn btn-info btn-sm"#}
{#                                       href="{{ path('contact_edit', {'id': contact.id}) }}">#}
{#                                        Modifier#}
{#                                    </a>#}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="7">Aucun résultats.</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="add_new mt-3">
                    <a class="btn btn-success" href="{{ path('contact_new') }}">Ajouter</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}