<div class="custom-navbar-container">
    <div class="custom-navbar angle-top-left">
        <div class="logo">
            <a class="navbar-brand px-3 d-block" href="{{ path('APP_HOMEPAGE') }}" aria-label="Accueil Robin PARISOT">
                <img src="{{ asset('logo/logo-carre-simple.svg') }}" alt="Robin PARISOT" class="main-logo" width="125" height="160">
            </a>
        </div>
        <div class="main-navbar">
            <nav class="navbar navbar-expand-xl align-items-stretch">
                <a href="{{ path('APP_HOMEPAGE') }}" class="text-center w-100 mb-3 d-xl-none">
                    <img src="{{ asset('logo/logo-carre-simple.svg') }}" alt="" class="img-fluid d-xl-none" width="40px">
                </a>
                <div class="collapse navbar-collapse" id="main-navbar">
                    <ul class="navbar-nav mb-2 mb-lg-0 w-100">
                        <li class="nav-item px-3">
                            <a class="nav-link"
                               aria-current="page"
                               href="{{ path('APP_HOMEPAGE') }}#top-banner"
                               data-to-scroll-element="#top-banner">
                                Accueil
                            </a>
                        </li>
                        <li class="nav-item px-3">
                            <a class="nav-link" href="{{ path('APP_HOMEPAGE') }}#services"
                               data-to-scroll-element="#services">
                                Services
                            </a>
                        </li>
                        <li class="nav-item px-3">
                            <a class="nav-link" href="{{ path('APP_HOMEPAGE') }}#about"
                               data-to-scroll-element="#about">
                                À propos de moi
                            </a>
                        </li>
                        <li class="nav-item px-3">
                            <a class="nav-link" href="{{ path('APP_HOMEPAGE') }}#blog"
                               data-to-scroll-element="#blog">
                                Blog
                            </a>
                        </li>
                        <li class="nav-item px-3">
                            <a class="nav-link" href="{{ path('APP_HOMEPAGE') }}#contact"
                               data-to-scroll-element="#contact">
                                Contact
                            </a>
                        </li>

                    </ul>
                </div>
                <div class="navbar-toggler-container">
                    <button class="navbar-toggler collapsed hamburger hamburger--collapse"
                            type="button"
                            data-bs-toggle="collapse" data-bs-target="#main-navbar"
                            aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                      </span>
                    </button>
                </div>
            </nav>
        </div>
        <div class="secondary-navbar mt-auto">
            <nav class="navbar align-items-stretch">
                <ul class="navbar-nav mb-2 mb-lg-0 w-100 justify-content-center">
                    <li class="nav-item px-3">
                        <a class="nav-link" aria-current="page" href="https://github.com/N445"
                           target="_blank">
                            <i class="fa-brands fa-square-github"></i>
                        </a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link" aria-current="page" href="https://www.linkedin.com/in/robin-parisot-56197890/"
                           target="_blank">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
{#        <div class="bottom">#}
{#            <div class="logo-sc">#}
{#                <img src="{{ asset('images/logosc.png') }}" alt="Star Citizen made by community" class="img-fluid" width="60" height="60">#}
{#            </div>#}
{#        </div>#}
    </div>
</div>

