{% extends 'base-admin.html.twig' %}

{% block title %}YoutubePlaylist index{% endblock %}

{% block body %}
    <h1>YoutubePlaylist index</h1>
    <p>
        <a href="{{ path('TOOLS_YOUTUBE_PLAYLIST_NEW') }}" class="btn btn-primary">
            Ajouter
        </a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Créé le</th>
                <th>Importé le</th>
                <th>Nb musiques</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for youtube_playlist in youtube_playlists %}
            <tr>
                <td>{{ youtube_playlist.identifier }}</td>
                <td>{{ youtube_playlist.createdAt ? youtube_playlist.createdAt|date('d/m/Y H:i:s') : '' }}</td>
                <td>{{ youtube_playlist.importedAt ? youtube_playlist.importedAt|date('d/m/Y H:i:s') : '' }}</td>
                <td>{{ youtube_playlist.songs|length }}</td>
                <td>
                    <a href="{{ path('TOOLS_YOUTUBE_PLAYLIST_SHOW', {'id': youtube_playlist.id}) }}" class="btn btn-sm btn-info">voir</a>
{#                    <a href="{{ path('TOOLS_YOUTUBE_PLAYLIST_EDIT', {'id': youtube_playlist.id}) }}" class="btn btn-sm btn-info">modifier</a>#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p>
        <a href="{{ path('TOOLS_YOUTUBE_PLAYLIST_NEW') }}" class="btn btn-primary">
            Ajouter
        </a>
    </p>
{% endblock %}
