{% macro actualityCard(actuality) %}
    <div class="card actuality h-100">
        <img src="{{ asset(actuality.image.webpath) }}" class="card-img-top" alt="{{ actuality.title }}">
        <div class="card-body shadow">
            <div class="tags position-absolute" style="top: 2px;left: 2px;">
                {% for tag in actuality.tags %}
                    <span class="badge badge-info">{{ tag }}</span>
                {% endfor %}
            </div>
            <h5 class="card-title">{{ actuality.title }}</h5>
            <p class="card-text">
                {{ actuality.resume|raw }}
            </p>
            <a href="{{ path('VOIR_ACTUALITE', {'id': actuality.id, 'slug': actuality.slug}) }}"
               class="btn btn-gradiant btn-sm">Voir <i class="fa fa-angle-right"></i></a>
        </div>
        <div class="card-footer text-muted">
            <span class="actualite-date" data-data="{{ actuality.createdAt|date('d-m-Y') }}"></span>
        </div>
    </div>
{% endmacro %}