{% macro toolCard(tool) %}
    <div class="col-md-3 mb-5">
        <div class="tool">
            {% if tool.link is defined %}
            <a href="{{ tool.link }}" target="_blank" title="{{ tool.name }}">
                {% endif %}
                <div class="bg-gradiant py-5 px-2  d-flex flex-column justify-content-center align-items-center shadow text-center h-100">
                    <h4>{{ tool.name }}</h4>
                    {% if tool.versions is defined %}
                        <span class="versions">
                            {% for version in tool.versions %}
                                <span class="badge badge-info version">v {{ version }}</span>
                            {% endfor %}
                        </span>
                    {% endif %}
                    {% if tool.image %}
                        <img src="{{ tool.image|imagine_filter('tool') }}" alt="{{ tool.name }}"
                             class="img-fluid mt-2 shadow p-2 bg-white">
                    {% endif %}
                </div>
                {% if tool.link is defined %}
            </a>
            {% endif %}
        </div>
    </div>
{% endmacro %}